<div class="box_exp" *ngFor="let jobs of jobsData">
  <div class="exp_img">
    <img [src]="jobs.logo_url" alt="" />
  </div>
  <div class="exp_desc">
    <h3>{{ jobs.name }} | {{ jobs.position }}</h3>
    <h5>Desde: {{ jobs.startDate }} | Hasta: {{ jobs.endDate }}</h5>
    <p>{{ jobs.about }}</p>
    <button class="edit-btn" (click)="edit(jobs)">
      <i class="fa-solid fa-pencil"></i>
    </button>
    <button class="delete-btn" (click)="delete(jobs.job_id)">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  <app-edit-experiencia
    *ngIf="showEditBtn"
    [job]="selectedJob"
    (onEditJob)="editJob($event)"
    (closeEditBtn)="showEditBtn = false"
  ></app-edit-experiencia>
</div>
