.box_exp {
  width: 100%;
  margin: 16px auto;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.exp_img {
  width: 80px;
  margin: 20px;
}

.exp_img img {
  width: 80px;
}

.exp_desc {
  width: 100%;
  margin: 10px;
}

.exp_desc::before {
  content: "";
  display: block;
  width: 58%;
  height: 1px;
  margin-bottom: 1rem;
  margin-left: -20%;
  background-color: #00ffff;
}

.exp_desc::after {
  content: "";
  display: block;
  width: 46%;
  height: 1px;
  float: right;
  margin-top: 1rem;
  background-color: #00ffff;
}

.exp_desc h3 {
  color: #90ffff;
}

.exp_desc h5 {
  color: #589c9c;
}

@media (max-width: 500px) {
  .box_exp,
  .exp_img {
    flex-flow: row wrap;
    margin: auto;
    text-align: center;
  }
}
