/* ESTUDIOS */

.container_est {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #0f0f0f;
}

.container_edu {
  flex: 1 0 calc(33.33% - 12px);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #00ffff;
  min-width: 360px;
}

.box_edu_1 {
  width: 20%;
}

.box_edu_1 img {
  width: 100%;
}

.box_edu_2 {
  width: 80%;
}

.box_edu_2 h4 {
  color: #90ffff;
}

@media only screen and (max-width: 1100px) {
  .container_edu {
    flex-basis: calc(50% - 12px);
  }
}

@media (max-width: 740px) {
  .container_edu {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  .container_edu {
    flex-basis: 100%;
    flex-direction: column;
  }
}
