<div class="container_modal">
  <h1>Agregar nueva habilidad</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="input_container">
      <label> Nombre </label>
      <input type="text" [(ngModel)]="newSkill.name" name="name" required />
    </div>
    <div class="input_container">
      <label> Nivel: {{ newSkill.level }}% </label>
      <input
        type="range"
        min="0"
        max="100"
        [(ngModel)]="newSkill.level"
        name="level"
        required
      />
    </div>
    <div class="container_modal_btn">
      <button class="modal-cancel-btn" (click)="close()">Cancelar</button>
      <button type="submit" class="modal-accept-btn">Guardar</button>
    </div>
  </form>
</div>
