<hr />
<div class="container_footer">
  <div class="info_box">
    <div class="item_box">
      <a href="https://www.instagram.com/_.juan.20/" target="_blank">
        <i class="fa-brands fa-instagram"></i>Instagram</a
      >
    </div>
    <div class="item_box">
      <a
        href="https://www.linkedin.com/in/juan-carlos-torres-bb8b52173/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>LinkedIn</a
      >
    </div>
    <div class="item_box">
      <a href="https://github.com/ECRuvik" target="_blank">
        <i class="fa-brands fa-github"></i>GitHub</a
      >
    </div>
    <div class="item_box">
      <a href="https://mail.google.com/" target="_blank">
        <i class="fa-solid fa-envelope"></i>jucator368@gmail.com</a
      >
    </div>
  </div>
</div>
