<hr />
<div class="container_footer">
  <div class="info_box">
    <div class="item_box">
      <a href="https://www.instagram.com/_.juan.20/" target="_blank">
        <i class="fa-brands fa-instagram"></i
        ><span class="link_text">Instagram</span></a
      >
    </div>
    <div class="item_box">
      <a
        href="https://www.linkedin.com/in/juan-carlos-torres-bb8b52173/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i
        ><span class="link_text">LinkedIn</span></a
      >
    </div>
    <div class="item_box">
      <a href="https://github.com/ECRuvik" target="_blank">
        <i class="fa-brands fa-github"></i
        ><span class="link_text">GitHub</span></a
      >
    </div>
    <div class="item_box" id="email_box">
      <a href="https://mail.google.com/" target="_blank">
        <i class="fa-solid fa-envelope"></i
        ><span class="link_text">jucator368@gmail.com</span></a
      >
    </div>
  </div>
</div>
