<div class="container_info">
  <div class="container_box">
    <h3>Proyectos en los que he formado parte.</h3>
    <app-proyectos></app-proyectos>
    <button class="add-btn" *ngIf="logged" (click)="openAddProy()">
      <i class="fa-solid fa-plus"></i>
    </button>
    <app-add-proyecto
      *ngIf="showAddProyBtn"
      (onAddProy)="addProy($event)"
      (closeAddProyBtn)="showAddProyBtn = false"
    ></app-add-proyecto>
  </div>
  <div class="container_box">
    <h3>Experiencia Laboral</h3>
    <app-experiencia></app-experiencia>
    <button class="add-btn" *ngIf="logged" (click)="openAddExp()">
      <i class="fa-solid fa-plus"></i>
    </button>
    <app-add-experiencia
      *ngIf="showAddExpBtn"
      (onAddJob)="addJob($event)"
      (closeAddExpBtn)="showAddExpBtn = false"
    ></app-add-experiencia>
  </div>
</div>
