<div class="container_abilities">
<div class="container_about">
  <h2>Mis Habilidades:</h2>
  <p>
    Tanto lenguajes de programación, como programas e idiomas, estas son mis
    habilidades dentro del área computacional.
  </p>
</div>
<div class="container_stats">
  <div class="stat" *ngFor="let skill of skillData">
    <div class="full_stat">
      <div class="percentage" [ngStyle]="{ width: skill.level + '%' }">
        {{ skill.name }} <span>{{ skill.level }}%</span>
      </div>
    </div>
  <div class="box_crud" *ngIf="logged">
    <button class="edit-btn" (click)="edit(skill)">
      <i class="fa-solid fa-pencil"></i>
    </button>
    <button class="delete-btn" (click)="delete(skill.skill_id)">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  </div>
  <div class="box_crud" *ngIf="logged">
  <button class="add-btn" (click)="add()">
    <i class="fa-solid fa-plus"></i>
  </button>
  </div>
  <app-add-habilidad
    *ngIf="showAddBtn"
    (onAddSkill)="addSkill($event)"
    (closeAddBtn)="showAddBtn = false"
  ></app-add-habilidad>
  <app-edit-habilidad
    *ngIf="showEditBtn"
    [skill]="selectedSkill"
    (onEditSkill)="editSkill($event)"
    (closeEditBtn)="showEditBtn = false"
  ></app-edit-habilidad>
</div>
</div>
