.container_abilities {
  width: 100%;
  background-color: #000;
}

.container_abilities::after {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  float: right;
  margin-top: 1rem;
  background-color: #00ffff;
}

.container_text {
  width: 100%;
  padding: 8px;
}

.container_text h2 {
  color: #00ffff;
}

.container_text p::after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: #00ffff;
  margin-top: 1rem;
}

.container_stats {
  width: 100%;
  padding: 20px;
  margin: auto;
  display: grid;
  gap: 10px 20px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 460px), 1fr));
  background-color: #000;
}

.stat {
  display: flex;
  align-items: center;
  height: 26px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  background-color: #000;
}

.full_stat {
  width: 100%;
  height: 26px;
  border-radius: 16px;
  background-color: #202020;
}

.percentage {
  height: 26px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #00ffff;
}

@media (max-width: 768px) {
  .container_abilities {
    display: block;
  }
  .container_about, .container_stats {
    width: 100%;
  }
}
