<div class="container_form">
  <div class="form_box">
    <div class="form_value">
      <form action="">
        <h2>Iniciar Sesión</h2>
        <div class="input_box">
          <i class="fa-solid fa-user"></i>
          <input type="username" name="username" id="username" required>
          <label for="">Nombre de Usuario o Correo</label>
        </div>
        <div class="input_box">
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="password" id="password" required>
          <label for="">Contraseña</label>
        </div>
        <button>Iniciar Sesión<i class="fa-solid fa-clipboard-list-check"></i></button>
        <div class="login">
          <p>¿No tienes una cuenta? <a href="#">Registrarme</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
