.container_info {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.container_box {
  width: 45%;
  margin: auto;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.container_box h3 {
  margin: auto;
  padding: 10px;
  font-size: 32px;
  text-align: center;
  color: #00ffff;
  background-color: #0f0f0f;
}
@media (max-width: 1060px) {
  .container_info {
    flex-flow: column wrap;
  }
  .container_box {
    width: 100%;
  }
}
