* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #070707;
  color: #888888;
  font-family: "Oswald", sans-serif;
}

a {
  color: #888888;
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  background-color: #1f1f1f;
  color: #0f0f0f;
  border: none;
  transition: 0.2s;
}

.button:hover {
  background-color: #0f0f0f;
  color: #1f1f1f;
}

.text_danger {
  font-weight: lighter;
  color: #fd8080;
}

.text_allowed {
  font-weight: lighter;
  color: #4eff4e;
}

.text_caution {
  font-weight: lighter;
  color: #fff23f;
}
