<div class="container-nav">
  <nav class="nav-main">
    <img
      src="../../../assets/img/Logo Argentina Programa.png"
      alt="Argentina Programa Logo"
      class="nav-brand"
    />
    <ul class="nav-menu"></ul>
    <ul class="nav-menu-right">
      <i class="fa fa-user-circle" aria-hidden="true" id="user-icon"></i>
      <a href="/login" *ngIf="!logged" id="miusuario">Iniciar Sesión</a>
      <a href="/portfolio" *ngIf="logged" (click)="logout()">Cerrar Sesión</a>
    </ul>
  </nav>
</div>
